<div id="hero">

	<div id="wrap" class="container" role="document">
		<!-- Hero title -->
		<div class="hero-title">
			<h1>Conheça novos artistas</h1>
		</div>

		<!-- Hero search -->
		<div class="hero-search">
			<form id="searchform" ng-submit="submitArtistSearch()">
				<label class="hide" for="s">Quero ouvir:</label>
				<input class="search-query" auto-complete ui-items="names" ng-model="artist" placeholder="Ex: Pink Floyd...">
				<input type="submit" id="searchsubmit" value="Search" class="btn-black">
			</form>
		</div>

		<!-- Hero boxes -->
		<div class="row boxes">
			<div class="span4">
				<div class="box">
					<div class="box-icon">
						<i class="icon-music"></i>
					</div>
					<div class="box-title">
						<h2><a href="#">Descubra</a></h2>
					</div>
					<div class="box-text">
						<p>Artistas novos, baseado nos que você já escuta</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="box">
					<div class="box-icon">
						<i class="icon-group"></i>
					</div>
					<div class="box-title">
						<h2><a href="#">Compartilhe</a></h2>
					</div>
					<div class="box-text">
						<p>Troque experiências e recomendações com seus amigos</p>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="box">
					<div class="box-icon">
						<i class="icon-sitemap"></i>
					</div>
					<div class="box-title">
						<h2><a href="#">Cadastre-se</a></h2>
					</div>
					<div class="box-text">
						<div data-google='386386305964'>
						  <a href='#' class='btn btn-danger pull-right' ng-click='revoke()' ng-show='login_status == "connected"'>revoke</a>
						  <span id="signinButton" ng-hide='login_status == "connected"'>
						    <button class='btn btn-primary'>Google+</button>
						  </span>
						  <button class='btn btn-primary' ng-click='fetch()' ng-show='login_status == "connected"'>fetch</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>